*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Rubik,sans-serif;
    font-weight: bold
}

@import "header";
@import "home";
@import "booking";
@import "planning";
@import "model";
@import "screen";
@import "choose";
@import "testimonial";
@import "faq.scss";
@import "footer.scss";