#choose{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    > div {
        width: 90%;
        height: inherit;
        background-color: aliceblue;
        display: flex;


        >div{
            background-color: orange;
            border: 1px solid red;
            height: inherit;
            width: 50%;
        }
    }
    .firstchoose{
        display: flex;
        flex-direction: column;
        justify-content: center;

        // gap: 2rem;
        padding-right: 2rem;
         > h3{
            font-size: 1.5rem;
            font-weight: bolder;
         }
          > main{
            font-size: 2.5rem;
            font-weight: bolder;
          }
        > p {
            color: #706f7b;;
        }
    }
}