#planning{
    width: 100%;
    height: 100vh;
    // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
    > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        > h1{
            font-size: 3rem;
            padding: 1rem 0;
        }
        > h3{
            font-size: 1.5rem;
        }
    }
    
    .planningTrip{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        > article{
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding: 2rem 0;
            justify-content: space-around;
            height: 15rem;
            width: 25%;
            > span {
                color: #706f7b;
            }

            > h2 {
                font-weight:900;
                // padding: 1rem 0;
            }
             
            > svg {
                font-size: 4rem;
                // padding: 1rem 0;
            }
        }

    }
}

@media only screen and (max-width: 1000px) {

    #planning{
        // .planningTrip{
            height: auto;
            .planningTrip{
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: flex-start;
            article{
                width: 45%;
                margin-top: 1rem;
            }
           }
        // }
    }
      
}
@media only screen and (max-width: 600px) {
    #planning{
        // .planningTrip{
            height: auto;
            .planningTrip{
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: flex-start;
            article{
                width: 90%;
                margin-top: 1rem;
                span{
                    width: 85%;
                    text-align: center;
                    font-weight: 100;
                }
            }
           }
        // }
    }
    #planning > div > h1 {
        text-align: center;
    }
}
@media only screen and (max-width: 400px) {
    #planning{
        // .planningTrip{
            font-size: 1rem;
            width: 100%;
            height: auto;
            .planningTrip{
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: flex-start;
            article{
                width: 90%;
                margin-top: 1rem;
                span{
                    width: 100%;
                    text-align: center;
                    font-weight: 100;
                }
            }
            h2{
                font-size: 1.4rem;
                font-weight: bolder;
            }
           }
        // }
    }
}