#team{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    > div{
        margin: 2rem auto;
        width: 26%;
        // background-color: red;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        article:first-child {
            height: 70%;
            img{
                width: 100%;
                mix-blend-mode: color-burn;
            }
          }
          
          article:last-child {
            height: 21%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          }

        // >article{
            // border: 1px solid black;
        // }

    }
}

// #team > div {
//     /* Your styles for the div inside the Member component go here */
//     background-color: lightblue;
//     width: 30%;
//     /* Add any other styles you need for the div */
//   }

